<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col">
                    <img src="../../assets/image/hero.png" alt="" class="hero-image">
                </div>
            </div>
            <div class="row register-content-row height-register-content">
                <div class="col register-content">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h3>Add Recruiter</h3>
                        </div>
                        <div class="col">
                            <button class="btn btn-brand-blue" [routerLink]="['/manage-recruiter']">Manage Recruiter</button>
                          </div>
                    </div>

                  <div class="row">
                    <div class="col">



                    <div class="register-form" [formGroup]="addform">
                        <div class="single-row">
                            <label for="">Recruiter Name :</label>
                            <div class="content-box" style="display:block;">
                                <input type="text" class="form-control" style="text-transform: capitalize;" placeholder="Enter Name" formControlName="recruiterName">
                                <div *ngIf="submitted && addform.get('recruiterName')?.invalid">
                                    <small class="text-danger">Name is required</small>
                                </div>
                            </div>

                        </div>

                        <div class="single-row">
                            <label for="">Recruiter Email ID :</label>
                            <div class="content-box" style="display:block">
                                <input type="text" class="form-control" placeholder="Enter Email ID" formControlName="email">
                                <div *ngIf="submitted && addform.get('email')?.invalid">
                                    <small class="text-danger">Email is required</small>
                                </div>
                            </div>

                        </div>

                        <div class="single-row">
                            <label for="">Recruiter Number :</label>
                            <div class="content-box" style="display:block">
                                <input type="number" maxlength="10" pattern="[6789][0-9]{9}" class="form-control" placeholder="Enter Mobile Number" formControlName="mobileNumber">
                                <div *ngIf="submitted && addform.get('mobileNumber')?.invalid">
                                    <small class="text-danger">Number is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="single-row douple-btn">
                           
                            <div class="content-box m-auto">
                                <button type="submit" class="btn btn-brand-blue mb-2 btn-custom" (click)="add()">Submit</button>
                            </div>
                        </div>


                    </div>


                </div>
            </div>  


                </div>
            </div>
        </div>
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
    </div>
</div>