<!-- <header> -->
<nav class="navbar navbar-light">
  <div class="container top-header">
    <div class="top-header-menu">
      <p>TreaTJobs</p>
      <p>JobBuzz</p>
    </div>
    <div class="top-header-contact">
      <span><span><img src="../../assets/image/call.png" alt="" class="call-img">
        </span>1234 1234 1234</span>
    </div>
  </div>
</nav>
<!-- <nav class="navbar navbar-light col-12 bg-brand-blue">
  <div class="container col-12 ">
    <a href="#" class="navbar-brand col-5">
      <img src="../../assets/image/logo.png" alt="" class="brand-logo">
    </a>
    <div class="nav-menu  col-3 ">
      <button type="button" class="btn  ms-5 register">Register</button>
      <div class="dropdown">
        <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          For Employers
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/login">Login</a></li>
          <li><a class="dropdown-item" href="/register">Register</a></li>
          <li><a class="dropdown-item" href="#">Buy Plan</a></li>
          <div class="container top-header">
            <div class="top-header-menu">
              <p>TreaTJobs</p>
              <p>JobBuzz</p>
            </div>
            <div class="top-header-contact">
              <span><span><img src="../../assets/image/call.png" alt="" class="call-img">
                </span>1234 1234 1234</span>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>

</nav> -->
<nav class="navbar navbar-light bg-brand-blue">
  <div class="container">
    <a href="#" class="navbar-brand">
      <img src="../../assets/image/logo.png" alt="" class="brand-logo">
    </a>
    <div class="nav-menu px-3">
      <button type="button" *ngIf="!idShow && !empshow" class="btn btn-light m-3" routerLink="/canlogin">Login</button>
      <button type="button" *ngIf="!idShow && !empshow" class="btn btn-warning" routerLink="/can-register">Register</button>
      <div class="dropdown" *ngIf="!idShow && !empshow">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          For Employers
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/login">Login</a></li>
          <li><a class="dropdown-item" href="/register">Register</a></li>
          <li><a class="dropdown-item" href="#">Buy Plan</a></li>
        </ul>
      </div>
      <div *ngIf="empshow">
        <div class="nav-menu  col-3 ">
          <button type="button" class="btn  ms-5 register invisible">Register</button>
          <div class="dropdown" style="margin-right: 22%;">
            <button class="btn  dropdown-toggle icon" type="button" style="margin-right: 38px;width: 170px;" data-bs-toggle="dropdown" aria-expanded="false">
              {{empusername}}
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item home" routerLink="/emp-home">Home</a></li>
              <li><a class="dropdown-item home" routerLink="/emp-account">My Profile</a></li>
              <li><a class="dropdown-item myplans">My Plan</a></li>
              <li><a class="dropdown-item upcominglive" routerLink="manage-recruiter">Recruiters</a></li>
              <li><a class="dropdown-item upcominglive" routerLink="">Change Password</a></li>
              <li><a class="dropdown-item upcominglive" (click)="emplogOut()">Log Out</a></li>
            </ul>

          </div>
        </div>
      </div>
      <div *ngIf="idShow">
        <div class="nav-menu  col-3 ">
          <button type="button" class="btn  ms-5 register invisible">Register</button>
          <div class="dropdown" style="margin-right: 22%;">
            <button class="btn  dropdown-toggle icon" type="button" style="margin-right: 38px;width: 185px;" data-bs-toggle="dropdown" aria-expanded="false">
              {{userNAme}}
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item home" routerLink="/getAllprofile">My Profile</a></li>
              <li><a class="dropdown-item myplans">My Plan</a></li>
              <li><a class="dropdown-item upcominglive">UpComing live</a></li>
              <li><a class="dropdown-item upcominglive" routerLink="/changePassword">Change Password</a></li>
              <li><a class="dropdown-item upcominglive" (click)="logOut()">Log Out</a></li>
            </ul>
            <!-- <ul class="dropdown-menu"  *ngIf="logo">
              <li><a class="dropdown-item home" routerLink="/canJobs">Home</a></li>
              <li><a class="dropdown-item myplans">My Plan</a></li>
              <li><a class="dropdown-item upcominglive">UpComing live</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- </header> -->



<!-- </nav> -->

<!-- </header> -->
