<footer>
    <div class="footer-menu-main">
        <div class="section-1">
            <div class="footer-menu-heading">
                <p>Jobs by Function</p>
            </div>
            <div class="footer-menu">
                <ul>
                    <li>IT Software Jobs</li>
                    <li>BPO Jobs</li>
                    <li>Sales Jobs</li>
                    <li>Fresher Jobs</li>
                    <li>Medical Jobs</li>
                    <li>Bank Jobs</li>
                    <li>All Functional Areas</li>
                </ul>
            </div>
        </div>
        <div class="section-2">
            <div class="footer-menu-heading">
                <p>IT Jobs Skills</p>
            </div>
            <div class="footer-menu">
                <ul>
                    <li>IT Software Jobs</li>
                    <li>BPO Jobs</li>
                    <li>Sales Jobs</li>
                    <li>Fresher Jobs</li>
                    <li>Medical Jobs</li>
                    <li>Bank Jobs</li>
                    <li>All Functional Areas</li>
                </ul>
            </div>
        </div>

        <div class="section-3">
            <div class="footer-menu-heading">
                <p>Non-IT Job Skills</p>
            </div>
            <div class="footer-menu">
                <ul>
                    <li>IT Software Jobs</li>
                    <li>BPO Jobs</li>
                    <li>Sales Jobs</li>
                    <li>Fresher Jobs</li>
                    <li>Medical Jobs</li>
                    <li>Bank Jobs</li>
                    <li>All Functional Areas</li>
                </ul>
            </div>
        </div>
        <div class="section-4">
            <div class="footer-menu-heading">
                <p>Jobs by Location</p>
            </div>
            <div class="footer-menu">
                <ul>
                    <li>IT Software Jobs</li>
                    <li>BPO Jobs</li>
                    <li>Sales Jobs</li>
                    <li>Fresher Jobs</li>
                    <li>Medical Jobs</li>
                    <li>Bank Jobs</li>
                    <li>All Functional Areas</li>
                </ul>
            </div>
        </div>
        <div class="section-5">
            <div class="footer-menu-heading">
                <p>Gulf Jobs</p>
            </div>
            <div class="footer-menu">
                <ul>
                    <li>IT Software Jobs</li>
                    <li>BPO Jobs</li>
                    <li>Sales Jobs</li>
                    <li>Fresher Jobs</li>
                    <li>Medical Jobs</li>
                    <li>Bank Jobs</li>
                    <li>All Functional Areas</li>
                </ul>
            </div>
        </div>
    </div>
</footer>