<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col">
                    <img src="../../assets/image/hero.png" alt="" class="hero-image">
                </div>
            </div>
            <div class="row register-content-row height-register-content mt-5">
                <div class="col register-content">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h3>Mail Template</h3>
                        </div>
                        <div class="col">
                          <button class="btn btn-brand-blue" routerLink="/create-email-template">Create Template</button>
                        </div>
                    </div>
                    <div class="row content-card-heading  rounded padding10 mt-4">
                       
                        <div class="col table-title">

                            <i class='fas fa-sort-amount-down'></i>
                            Template

                        </div>

                        <div class="col table-title">
                            <i class='fas fa-sort-amount-down'></i>
                            Job Title

                        </div>

                        <div class="col table-title">
                            <i class='fas fa-sort-amount-down'></i>
                            Experience

                        </div>

            

                        <div class="col table-title">
                            <i class='fas fa-sort-amount-down'></i>
                            Salary

                        </div>

                        <div class="col table-title">
                            <i class='fas fa-sort-amount-down'></i>
                           Created

                        </div>

                        <div class="col ">
                            <i class='fas fa-sort-amount-down'></i>
                           Action

                        </div>


                        
                    </div>
                    <div class="row content-card no-margin padding10">
                        

                        <div class="col table-title">

                           
                            Software intern

                        </div>

                        <div class="col table-title">
                          Software Test...

                        </div>

                        <div class="col table-title">
                          
                           0-2Years

                        </div>

            

                        <div class="col table-title">
                          
                          0 to 2 lacs

                        </div>

                        <div class="col table-title">
                     
                           03-12-22

                        </div>

                        <div class="col d-flex">
                           
                            <div class="col d-flex align-items-start">
                          <span><i><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="30" height="30" rx="5" fill="white" fill-opacity="0.1"/>
                            <path d="M15.8143 10.4089L19.5911 14.1866L10.7768 23H7V19.2223L15.8143 10.408V10.4089ZM17.0732 9.14997L18.9616 7.26068C19.1286 7.09377 19.355 7 19.5911 7C19.8272 7 20.0536 7.09377 20.2206 7.26068L22.7393 9.77943C22.9062 9.94639 23 10.1728 23 10.4089C23 10.645 22.9062 10.8714 22.7393 11.0384L20.85 12.9268L17.0732 9.14997Z" fill="#0A2647"/>
                            </svg>
                            
                            
                            
                            </i></span>
                           <button class="btn preview-btn">Preview</button>
                        </div>
                            <span class="msg-icon"><i><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="30" height="30" rx="5" fill="white" fill-opacity="0.1"/>
                                <path d="M8.6 11.8H21.4V22.2C21.4 22.4122 21.3157 22.6157 21.1657 22.7657C21.0157 22.9157 20.8122 23 20.6 23H9.4C9.18783 23 8.98434 22.9157 8.83431 22.7657C8.68429 22.6157 8.6 22.4122 8.6 22.2V11.8ZM10.2 13.4V21.4H19.8V13.4H10.2ZM12.6 15H14.2V19.8H12.6V15ZM15.8 15H17.4V19.8H15.8V15ZM11 9.4V7.8C11 7.58783 11.0843 7.38434 11.2343 7.23431C11.3843 7.08429 11.5878 7 11.8 7H18.2C18.4122 7 18.6157 7.08429 18.7657 7.23431C18.9157 7.38434 19 7.58783 19 7.8V9.4H23V11H7V9.4H11ZM12.6 8.6V9.4H17.4V8.6H12.6Z" fill="white"/>
                                </svg>
                                
                                
                                
                                
                                </i></span>

                        </div>


                        
                    </div>
                    



                </div>
            </div>
        </div>
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
    </div>
</div>