<div class="container-fluid login">
  <div class="row">
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
    <div class="col-8  login-main">
      <div class="row ">
        <div class="col">
          <img src="../../assets/image/hero.png" alt="" class="hero-image">
        </div>
      </div>
      <div class="row register-content-row height-register-content">
        <div class="col register-content" *ngFor="let details of getAlldetails">
          <div class="row">
            <div class="col-2"></div>
            <div class="col">
              <h3>Advanced Details
              </h3>
            </div>
            <div class="col-2">
              <span class="edit-icon" style="cursor: pointer;" (click)="updateProfile(details._id)"><i
                  style="font-size: 11px;color: white;" class="fa fa-pencil"></i>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="register-form">
              <div class="single-row">
                <label for="">Key Skills :</label>
                <div class="content-box">
                  <p>{{details.keyskill}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Date of Birth :</label>
                <div class="content-box">
                  <p>{{details.dob}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Salary Range :</label>
                <div class="content-box">
                  <p>{{details.expectedctc}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Current Range :</label>
                <div class="content-box">
                  <p>{{details.currentctc}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Experience :</label>
                <div class="content-box">
                  <p>{{details.experienceYear}}.{{details.experienceMonth}} Year</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Previous Company Name :</label>
                <div class="content-box">
                  <p>{{details.prevCompany}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Previous Company Role :</label>
                <div class="content-box">
                  <p>{{details.prevCompanyRole}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Permanent Location:</label>
                <div class="content-box">
                  <p>{{details.locationCurrent}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Current Location :</label>
                <div class="content-box">
                  <p>{{details.locationNative}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Notice Periods :</label>
                <div class="content-box">
                  <p>{{details.noticeperiod}} days</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Current Skill Set :</label>
                <div class="content-box">
                  <p>{{details.currentSkill}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Preferred Skill Set :</label>
                <div class="content-box">
                  <p>{{details.preferredSkill}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Gender :</label>
                <div class="content-box">
                  <p>{{details.gender}}</p>
                </div>
              </div>
              <div class="single-row">
                <label for="">Marital Status :</label>
                <div class="content-box">
                  <p>{{details.maritalStatus}}</p>
                </div>
              </div>
              <div class="col-12 d-flex">
                <label class="col-5">Language : </label>
                <div class="col-10">
                  <div class="col-12 d-flex flex-wrap" *ngFor="let lang of details.languages;let i=index">
                    <p class="col-5">{{lang.lang}} </p>
                    <!-- <p class="col-3">{{lang.know[0]}}</p> -->
                    <!-- <div> -->

                    <div class="select col-2 d-flex know11">
                      <div *ngIf="isDisplayIcon(lang.know,'Speak')">
                        <i *ngIf="check">
                          <svg width="14" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M8 16C3.5816 16 0 12.4184 0 8C0 3.5816 3.5816 0 8 0C12.4184 0 16 3.5816 16 8C16 12.4184 12.4184 16 8 16ZM8 14.4C9.69739 14.4 11.3253 13.7257 12.5255 12.5255C13.7257 11.3253 14.4 9.69739 14.4 8C14.4 6.30261 13.7257 4.67475 12.5255 3.47452C11.3253 2.27428 9.69739 1.6 8 1.6C6.30261 1.6 4.67475 2.27428 3.47452 3.47452C2.27428 4.67475 1.6 6.30261 1.6 8C1.6 9.69739 2.27428 11.3253 3.47452 12.5255C4.67475 13.7257 6.30261 14.4 8 14.4ZM7.2024 11.2L3.808 7.8056L4.9392 6.6744L7.2024 8.9376L11.7272 4.412L12.8592 5.5432L7.2024 11.2Z"
                              fill="#00FF44" />
                          </svg>
                        </i>

                      </div>
                      <i *ngIf="check ==false">
                        <svg width="16" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_871_2590)">
                            <path
                              d="M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM12 20C14.1217 20 16.1566 19.1571 17.6569 17.6569C19.1571 16.1566 20 14.1217 20 12C20 9.87827 19.1571 7.84344 17.6569 6.34315C16.1566 4.84285 14.1217 4 12 4C9.87827 4 7.84344 4.84285 6.34315 6.34315C4.84285 7.84344 4 9.87827 4 12C4 14.1217 4.84285 16.1566 6.34315 17.6569C7.84344 19.1571 9.87827 20 12 20ZM12 10.586L14.828 7.757L16.243 9.172L13.414 12L16.243 14.828L14.828 16.243L12 13.414L9.172 16.243L7.757 14.828L10.586 12L7.757 9.172L9.172 7.757L12 10.586Z"
                              fill="#FF0000" />
                          </g>
                          <defs>
                            <clipPath id="clip0_871_2590">
                              <rect width="24" height="24" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </i>
                      <label class="type">Speak</label>

                    </div>
                    <div class="select col-2  d-flex know11">
                      <div *ngIf="isDisplayIcon2(lang.know,'Read')">
                        <i *ngIf="isCheck">
                          <svg width="14" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M8 16C3.5816 16 0 12.4184 0 8C0 3.5816 3.5816 0 8 0C12.4184 0 16 3.5816 16 8C16 12.4184 12.4184 16 8 16ZM8 14.4C9.69739 14.4 11.3253 13.7257 12.5255 12.5255C13.7257 11.3253 14.4 9.69739 14.4 8C14.4 6.30261 13.7257 4.67475 12.5255 3.47452C11.3253 2.27428 9.69739 1.6 8 1.6C6.30261 1.6 4.67475 2.27428 3.47452 3.47452C2.27428 4.67475 1.6 6.30261 1.6 8C1.6 9.69739 2.27428 11.3253 3.47452 12.5255C4.67475 13.7257 6.30261 14.4 8 14.4ZM7.2024 11.2L3.808 7.8056L4.9392 6.6744L7.2024 8.9376L11.7272 4.412L12.8592 5.5432L7.2024 11.2Z"
                              fill="#00FF44" />
                          </svg>
                        </i>

                      </div>
                      <i *ngIf="isCheck == false">
                        <svg width="16" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_871_2590)">
                            <path
                              d="M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM12 20C14.1217 20 16.1566 19.1571 17.6569 17.6569C19.1571 16.1566 20 14.1217 20 12C20 9.87827 19.1571 7.84344 17.6569 6.34315C16.1566 4.84285 14.1217 4 12 4C9.87827 4 7.84344 4.84285 6.34315 6.34315C4.84285 7.84344 4 9.87827 4 12C4 14.1217 4.84285 16.1566 6.34315 17.6569C7.84344 19.1571 9.87827 20 12 20ZM12 10.586L14.828 7.757L16.243 9.172L13.414 12L16.243 14.828L14.828 16.243L12 13.414L9.172 16.243L7.757 14.828L10.586 12L7.757 9.172L9.172 7.757L12 10.586Z"
                              fill="#FF0000" />
                          </g>
                          <defs>
                            <clipPath id="clip0_871_2590">
                              <rect width="24" height="24" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </i>
                      <label class="type">Read</label>
                    </div>
                    <div class="select col-2  d-flex know11">
                      <div *ngIf="isDisplayIcon3(lang.know,'Write')">

                        <i *ngIf="ischeck3">
                          <svg width="14" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M8 16C3.5816 16 0 12.4184 0 8C0 3.5816 3.5816 0 8 0C12.4184 0 16 3.5816 16 8C16 12.4184 12.4184 16 8 16ZM8 14.4C9.69739 14.4 11.3253 13.7257 12.5255 12.5255C13.7257 11.3253 14.4 9.69739 14.4 8C14.4 6.30261 13.7257 4.67475 12.5255 3.47452C11.3253 2.27428 9.69739 1.6 8 1.6C6.30261 1.6 4.67475 2.27428 3.47452 3.47452C2.27428 4.67475 1.6 6.30261 1.6 8C1.6 9.69739 2.27428 11.3253 3.47452 12.5255C4.67475 13.7257 6.30261 14.4 8 14.4ZM7.2024 11.2L3.808 7.8056L4.9392 6.6744L7.2024 8.9376L11.7272 4.412L12.8592 5.5432L7.2024 11.2Z"
                              fill="#00FF44" />
                          </svg>
                        </i>
                      </div>
                      <i *ngIf="ischeck3 == false">
                        <svg width="16" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_871_2590)">
                            <path
                              d="M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM12 20C14.1217 20 16.1566 19.1571 17.6569 17.6569C19.1571 16.1566 20 14.1217 20 12C20 9.87827 19.1571 7.84344 17.6569 6.34315C16.1566 4.84285 14.1217 4 12 4C9.87827 4 7.84344 4.84285 6.34315 6.34315C4.84285 7.84344 4 9.87827 4 12C4 14.1217 4.84285 16.1566 6.34315 17.6569C7.84344 19.1571 9.87827 20 12 20ZM12 10.586L14.828 7.757L16.243 9.172L13.414 12L16.243 14.828L14.828 16.243L12 13.414L9.172 16.243L7.757 14.828L10.586 12L7.757 9.172L9.172 7.757L12 10.586Z"
                              fill="#FF0000" />
                          </g>
                          <defs>
                            <clipPath id="clip0_871_2590">
                              <rect width="24" height="24" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                      </i>
                      <label class="type">Write</label>


                    </div>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- education details -->
          <div class="row">
            <div class="col-2"></div>
            <div class="col">
              <h3>Education Details</h3>
            </div>
            <div class="col-2">
              <span class=" edit-icon" (click)="gotoEdu(details._id)"><i style="font-size: 11px;color: white;"
                  class="fa fa-pencil"></i></span>
            </div>
          </div>
          <div class="row">
            <div class="register-form">
              <div *ngIf="details.drQualification">
                <h5 class="m-auto mb-4">Doctorate/MPhil</h5>
                <div class="single-row">
                  <label for="">Qualification :</label>
                  <div class="content-box">
                    <p>{{details.drQualification}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">University :</label>
                  <div class="content-box">
                    <p>{{details.drUniversity}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Specification :</label>
                  <div class="content-box">
                    <p>{{details.drSpecialization}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Course :</label>
                  <div class="content-box">
                    <p>{{details.drcourses}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Grading System :</label>
                  <div class="content-box">
                    <p>{{details.drGradingSystem}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Grade :</label>
                  <div class="content-box">
                    <p>{{details.drMarks}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Course Type :</label>
                  <div class="content-box">
                    <p>{{details.drCourseType}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Passed Out Year :</label>
                  <div class="content-box">
                    <p>{{details.drCourseDurationFrom}}-{{details.drCourseDurationTo}}</p>
                  </div>
                </div>
              </div>
              <div *ngIf="details.pgQualification">
                <h5 class="m-auto mb-4 mt-4">PG course:</h5>
                <div class="single-row">
                  <label for="">Qualification :</label>
                  <div class="content-box">
                    <p>{{details.pgQualification}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">University :</label>
                  <div class="content-box">
                    <p>{{details.pgUniversity}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Specification :</label>
                  <div class="content-box">
                    <p>{{details.pgSpecialization}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Course :</label>
                  <div class="content-box">
                    <p>{{details.pgCourse}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Grading System :</label>
                  <div class="content-box">
                    <p>{{details.pgGradingSystem}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Grade :</label>
                  <div class="content-box">
                    <p>{{details.pgMarks}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Course Type :</label>
                  <div class="content-box">
                    <p>{{details.pgCourseType}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Passed Out Year :</label>
                  <div class="content-box">
                    <p>{{details.pgCourseDurationFrom}}-{{details.pgCourseDurationTo}}</p>
                  </div>
                </div>
              </div>
              <div *ngIf="details.ugQualification">
                <h5 class="m-auto mb-4 mt-4">UG Course :</h5>
                <div class="single-row">
                  <label for="">Qualification :</label>
                  <div class="content-box">
                    <p>{{details.ugQualification}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">University :</label>
                  <div class="content-box">
                    <p>{{details.ugUniversity}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Specification :</label>
                  <div class="content-box">
                    <p>{{details.ugSpecialization}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Course :</label>
                  <div class="content-box">
                    <p>{{details.ugCourse}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Grading System :</label>
                  <div class="content-box">
                    <p>{{details.ugGradingSystem}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Grade :</label>
                  <div class="content-box">
                    <p>{{details.ugMarks}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Course Type :</label>
                  <div class="content-box">
                    <p>{{details.ugCourseType}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Passed Out Year :</label>
                  <div class="content-box">
                    <p>{{details.ugCourseDurationFrom}}-{{details.ugCourseDurationTo}}</p>
                  </div>
                </div>
              </div>
              <div *ngIf="details.Qualification">
                <h5 class="m-auto mb-4 mt-4">HSC :</h5>
                <div class="single-row">
                  <label for="">Qualification :</label>
                  <div class="content-box">
                    <p>{{details.hsQualification}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Board :</label>
                  <div class="content-box">
                    <p>{{details.hsBoard}}</p>
                  </div>
                </div>

                <div class="single-row">
                  <label for="">Medium :</label>
                  <div class="content-box">
                    <p>{{details.hsMedium}}</p>
                  </div>
                </div>

                <div class="single-row">
                  <label for="">Grade :</label>
                  <div class="content-box">
                    <p>{{details.hstotalmarks}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Passed Out Year :</label>
                  <div class="content-box">
                    <p>{{details.hsPassedYear}}</p>
                  </div>
                </div>
              </div>
              <div *ngIf="details.sslcQualification">
                <h5 class="m-auto mb-4 mt-4">SSLC :</h5>
                <div class="single-row">
                  <label for="">Qualification :</label>
                  <div class="content-box">
                    <p>{{details.sslcQualification}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Board :</label>
                  <div class="content-box">
                    <p>{{details.hsBoard}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Medium :</label>
                  <div class="content-box">
                    <p>{{details.sslcMedium}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Grade :</label>
                  <div class="content-box">
                    <p>{{details.sslctotalmarks}}</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Passed out Year :</label>
                  <div class="content-box">
                    <p>{{details.sslcPassedYear}}</p>
                  </div>
                </div>
              </div>
              <!-- professional details -->
              <div class="row">
                <div class="col-2"></div>
                <div class="col">
                  <h3>Professional Details</h3>
                </div>
                <div class="col-2">
                  <span class="edit-icon"><i style="font-size: 11px;color: white;" class="fa fa-pencil"
                      (click)="gotoProffistional(details._id)"></i></span>
                </div>
              </div>
              <div class="row">
                <div class="register-form">
                  <div class="single-row">
                    <label for="">Current Industry :</label>
                    <div class="content-box">
                      <p>{{details.industry}}
                    </div>
                  </div>
                  <div class="single-row">
                    <label for="">Current Department :</label>
                    <div class="content-box">
                      <p>{{details.department}}</p>
                    </div>
                  </div>
                  <div class="single-row">
                    <label for="">Role Category :</label>
                    <div class="content-box">
                      <p>{{details.roleCategory
                        }}</p>
                    </div>
                  </div>
                  <div class="single-row">
                    <label for="">Job Role :</label>
                    <div class="content-box">
                      <p>{{details.role}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-row  mt-5 mb-5">
                <label for=""> </label>
                <div class="content-box">
                  <button type="submit" class="btn btn-brand-blue mb-2" (click)="go()">Go</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
  </div>
</div>