<div class="container-fluid register">
    <div class="row">
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
        <div class="col-8  login-main">
            <div class="row ">
                <div class="col">
                    <img src="../../assets/image/hero.png" alt="" class="hero-image">
                </div>
            </div>
            <div class="row register-content-row">
                <div class="col register-content">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <h3>Employer's Registration</h3>
                        </div>
                        <div class="col"></div>
                    </div>
                    <form [formGroup]="RegisterForm" (submit)="reg_submit()">
                        <div class="register-form">
                            <div class="single-row">
                                <label for="">Company Logo :</label>
                                <div class="content-box">
                                    <div>
                                        <label  *ngIf="input" for="select-logo" class="form-control logo-btn">+Add Logo</label>
                                        <input type="file" id="select-logo" class="form-control logo-btn"
                                            placeholder="+Add Logo" style="display: none;" formControlName="logo" (change)="selectedImg1($event)" accept="image/gif, image/jpeg, image/png">
                                   <img *ngIf="imageSrc" class="company-logo-img" [src]="imageSrc">
                                        </div>
                                </div>

                            </div>
                            <div class="single-row">
                                <label for="">Company Name :</label>
                                <div class="content-box content-box-block">
                                    <input type="text" class="form-control"  min="1" step="1" placeholder="Enter Your Company Name" formControlName="name">
                                    <div *ngIf="submitted && RegisterForm.get('name')?.invalid">
                                        <small class="text-danger">Name is required</small>
                                    </div>
                                </div>
                            </div>

                            <div class="single-row">
                                <label for="">Company Email :</label>
                                <div class="content-box content-box-block">
                                    <input type="email" class="form-control" placeholder="Enter Your Company Email" formControlName="email">
                                    <div *ngIf="submitted && RegisterForm.get('email')?.invalid">
                                        <small class="text-danger">Email is required</small>
                                    </div>
                                </div>

                            </div>
                            <div class="single-row">
                                <label for="">Registration Type :</label>
                                <div class="content-box content-box-block">
                                    <select class="form-control select-type" formControlName="registrationType">
                                        <option value="option1" [ngValue]="null" disabled selected >Select Type</option>
                                        <option value="Private Limited">Private Limited</option>
                                        <option value="Public Limited">Public Limited</option>
                                        <option value="One Person Company">One Person Company (OPC)</option>
                                        <option value="Proprietorship">Proprietorship</option>
                                        <option value="Partnership Firm">Partnership Firm</option>
                                        <option value="State Government Undertaking">State Government Undertaking</option>
                                        <option value="Central Government Undertaking">Central Government Undertaking</option>
                                      </select>
                                      <div *ngIf="submitted && RegisterForm.get('registrationType')?.invalid">
                                        <small class="text-danger">Registration type is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="single-row">
                                <label for="">Industry Type :</label>
                                <div class="content-box content-box-block">
                                    <select class="form-control select-type" formControlName="industryType">
                                        <option value="option1" [ngValue]="null" disabled selected >Select Type</option>
                                        <option value="Analytics/KPO/Research">Analytics/KPO/Research</option>
                                        <option value="BPO Call Center">BPO Call Center</option>
                                        <option value="It Sevices/Consulting">It Sevices/Consulting</option>
                                        <option value="Hardware">Hardware</option>
                                        <option value="Networking">Networking</option>
                                      </select>
                                      <div *ngIf="submitted && RegisterForm.get('industryType')?.invalid">
                                        <small class="text-danger">Industry Type is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="single-row">
                                <label for="">Company Type :</label>
                                <div class="content-box content-box-block">
                                    <select class="form-control select-type" formControlName="companyType">
                                        <option value="option1" [ngValue]="null" disabled selected >Select Type</option>
                                        <option value="foreign-mnc">Foreign MNC</option>
                                        <option value="corporate">Corporate</option>
                                        <option value="indian mnc">Indian MNC</option>
                                        <option value="start up">Start up</option>
                                      </select>
                                      <div *ngIf="submitted && RegisterForm.get('companyType')?.invalid">
                                        <small class="text-danger">Company type is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="single-row">
                                <label for="">Company Website :</label>
                                <div class="content-box">
                                    <input type="text" class="form-control" placeholder="Website URL" formControlName="companyWebsite">
                                
                                </div>
                            </div>
                            <div class="single-row">
                                <label for="">Password :</label>
                                <div class="content-box content-box-block">
                                    <input type="password" class="form-control" placeholder="Enter Your Password" formControlName="password">
                                    <div *ngIf="submitted && RegisterForm.get('password')?.invalid">
                                        <small class="text-danger">Password is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="single-row">
                                <label for="">Confirm Password :</label>
                                <div class="content-box content-box-block">
                                    <input type="password" class="form-control" placeholder="Confoirm Your Password" formControlName="confirm_password">
                                    <div *ngIf="submitted && RegisterForm.get('confirm_password')?.invalid">
                                        <small class="text-danger">Confirm Password is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="single-row">
                                <label for="">Hiring For :</label>
                                <div class="content-box content-box-block">
                                    <select class="form-control select-type" formControlName="postedBy">
                                        <option value="option1" [ngValue]="null" disabled selected >Select Type</option>
                                        <option value="Company">Own</option>
                                        <option value="Consultancy">Other Clients</option>
                                      </select>
                                      <div *ngIf="submitted && RegisterForm.get('postedBy')?.invalid">
                                        <small class="text-danger">Hiringfor is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="single-row">
                                <label for="">Primary Contact :</label>
                                <div class="content-box content-box-block">
                                    <input type="text" class="form-control" placeholder="Enter Contact Persion Name" formControlName="contactName">
                                    <div *ngIf="submitted && RegisterForm.get('contactName')?.invalid">
                                        <small class="text-danger">Contact name is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="single-row">
                                <label for="">Primary Number :</label>
                                <div class="content-box content-box-block">
                                    <input type="text" class="form-control" maxlength="10" pattern="[6789][0-9]{9}" placeholder="Enter Your Primary Mobile Number" formControlName="mobileNumber">
                                    <div *ngIf="submitted && RegisterForm.get('mobileNumber')?.invalid">
                                        <small class="text-danger">Mobile number is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="single-row">
                                <label for="">Company Description:</label>
                                <div class="content-box content-box-block">
                                    <textarea class="form-control" id="exampleFormControlTextarea1"  rows="3" formControlName="companyDescription"></textarea>
                                    <div *ngIf="submitted && RegisterForm.get('companyDescription')?.invalid">
                                        <small class="text-danger">Company description is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="single-row">
                                <label for="">Company Profile :</label>
                                <div class="content-box content-box-block">
                                    <div class="location-content">
                                        <label for="select-logo-file" class="form-control choose-file">Choose File</label>
                                        <div>  <input type="file" id="select-logo-file" (change)="addresume($event)" accept=".ppt,.pptx,.pdf" class="form-control choose-file"
                                            placeholder="+Add Logo"  style="display: none;" formControlName="choosefile">
                                        <span class="ppt-data">[PPT, PDF]</span></div>
                                    </div>
                                     <div *ngIf="submitted && RegisterForm.get('choosefile')?.invalid">
                                        <small class="text-danger">File is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="single-row">
                                <label for="">Corporate Address:</label>
                                <div class="content-box content-box-block">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter Your Company Address" rows="3" formControlName="companyAddress"></textarea>
                                    <div *ngIf="submitted && RegisterForm.get('companyAddress')?.invalid">
                                        <small class="text-danger">Address is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="single-row">
                                <label for="">Pin Code :</label>
                                <div class="content-box content-box-block">
                                    <input type="number" class="form-control" placeholder="Enter Your Pin Code" formControlName="pincode">
                                    <div *ngIf="submitted && RegisterForm.get('pincode').invalid">
                                        <small class="text-danger">Pincode is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="single-row">
                                <label for="select-logo">Location :</label>
                                <div class="content-box content-box-block">
                                    <input class="form-control" ngx-google-places-autocomplete [options]="options"
                                    (onAddressChange)="handleAddressChange($event)" placeholder="Enter Your Location" formControlName="location">
                                    <div *ngIf="submitted && RegisterForm.get('location')?.invalid">
                                        <small class="text-danger">Location is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="single-row single-row-final-btn">
                                <label for=""> </label>

                                <div class="content-box">
                                    <button type="submit" class="btn btn-brand-blue register-btn mb-5">Register</button>
                                </div>
                            </div>


                        </div>
                    </form>






                </div>
            </div>
        </div>
        <div class="col-2 ad-image">
            <img src="../../assets/image/ad.png" alt="">
        </div>
    </div>
</div>
