<div class="container-fluid login">
  <div class="row">
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
    <div class="col-8  login-main">
      <div class="row ">
        <div class="col">
          <img src="../../assets/image/hero.png" alt="" class="hero-image">
        </div>
      </div>
      <div class="row register-content-row height-register-content">
        <div class="col register-content">
          <div class="row">
            <div class="col-2"></div>
            <div class="col">
              <h3>Log In To Your Treatjobs Account</h3>
            </div>
            <div class="col-2"></div>
          </div>

          <div class="row">
            <div class="col"></div>
            <div class="col">
              <a href="#">
                <div class="sigin-button">
                  <img src="../../assets/image/g.png" alt="">
                  <div>Sign In With Google</div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="sigin-button">
                  <img src="../../assets/image/fb.png" alt="">
                  <div> Sign In With Facebook</div>
                </div>
              </a>
            </div>
            <div class="col"></div>
          </div>

          <div class="row or-line-wrap">
            <div class="col"></div>
            <div class="col">
              <h3 class="or-line">Or</h3>
            </div>
            <div class="col"></div>
          </div>


          <div class="row">
            <div class="register-form">
              <form [formGroup]="login" (submit)="login_now()">


                <div class="single-row">
                  <label for="">Email ID :</label>
                  <div class="content-box">
                    <input type="email" class="form-control" placeholder="Enter Your Email ID" formControlName="email">
                  </div>

                </div>
                <div class="single-row  error-massage" *ngIf="login.get('email')?.invalid && isSubmmitted">
                  <label for=""></label>
                  <div class="content-box">
                    <p>Email is required</p>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Password :</label>
                  <div class="content-box">
                    <input type="password" class="form-control" placeholder="Enter  Password"
                      formControlName="password">
                  </div>
                </div>
                <div class="single-row error-massage">
                  <label for=""></label>
                  <div class="content-box" >
                    <p  *ngIf="login.get('password')?.invalid && isSubmmitted">Password is required</p>
                  </div>
                </div>
                <div class="single-row error-massage">
                  <label for=""></label>
                  <div class="content-box" >
                    <p *ngIf="login.get('password')?.valid&&passwordStatus">Password doesn't match</p>
                  </div>
                </div>
                <div class="forgot-pass">
                  <a (click)="for()">Forgot Password!</a>
                </div>


                <div class="single-row">
                  <label for=""> </label>

                  <div class="content-box">
                    <button type="submit" class="btn btn-brand-blue mb-2">Log In</button>
                  </div>
                </div>
              </form>

            </div>
          </div>





        </div>
      </div>
    </div>
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
  </div>
</div>
