<div class="container-fluid login">
  <div class="row">
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
    <div class="col-8  login-main">
      <div class="row ">
        <div class="col">
          <img src="../../assets/image/hero.png" alt="" class="hero-image">
        </div>
      </div>
      <div class="row register-content-row height-register-content">
        <div class="col register-content">
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <h3>Forgot Password</h3>
            </div>
            <div class="col"></div>
          </div>
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <a href="#">
                <div class="sigin-button">
                  <img src="../../assets/image/g.png" alt="">
                  <div>Sign In With Google</div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="sigin-button">
                  <img src="../../assets/image/fb.png" alt="">
                  <div> Sign In With Facebook</div>
                </div>
              </a>
            </div>
            <div class="col"></div>
          </div>
          <div class="row or-line-wrap">
            <div class="col"></div>
            <div class="col">
              <h3 class="or-line">Or</h3>
            </div>
            <div class="col"></div>
          </div>
          <div class="row" [formGroup]="sendOtpFom">
            <div class="register-form">
              <div class="single-row">
                <label for="">Mobile Number :</label>
                <div class="content-box">
                  <input type="number" class="form-control" maxlength="10" pattern="[6789][0-9]{9}"
                    placeholder="Enter Your Mobile Number" formControlName="mobilenumber">
                </div>
              </div>
              <div class="single-row error-data">
                <label for=""></label>
                <div class="content-box">
                  <p *ngIf="isSubmitted && sendOtpFom.get('mobilenumber')?.invalid">Mobile number is required</p>
                  <p *ngIf="wrongMobile">Mobile number doesn't exit</p>
                </div>
              </div>
              <div class="single-row error-data">
                <label for=""></label>
                <div class="content-box">
                  <p *ngIf="wrongMobile">Mobile number doesn't exit</p>
                </div>
              </div>
              <div class="single-row">
                <label for=""> </label>

                <div class="content-box final-btn-wrap">
                  <button type="submit" class="btn btn-brand-blue mb-2 " (click)="sendOtp()">Send OTP</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
  </div>
</div>
