<div class="container-fluid login">
  <div class="row">
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
    <div class="col-8  login-main">
      <div class="row ">
        <div class="col">
          <img src="../../assets/image/hero.png" alt="" class="hero-image">
        </div>
      </div>
      <div class="row register-content-row height-register-content">
        <div class="col register-content">
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <h3>Employer’s Log In</h3>
            </div>
            <div class="col"></div>
          </div>
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <a href="#">
                <div class="sigin-button">
                  <img src="../../assets/image/g.png" alt="">
                  <div>Sign In With Google</div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="sigin-button">
                  <img src="../../assets/image/fb.png" alt="">
                  <div> Sign In With Facebook</div>
                </div>
              </a>
            </div>
            <div class="col"></div>
          </div>
          <div class="row or-line-wrap">
            <div class="col"></div>
            <div class="col">
              <h3 class="or-line">Or</h3>
            </div>
            <div class="col"></div>
          </div>
          <div class="row">
            <form [formGroup]="loginForm" (submit)="login_submit()">
              <div class="register-form">
                <div class="single-row">
                  <label for="">Email ID :</label>
                  <div class="content-box" style="display:block">
                    <input type="email" class="form-control" placeholder="Enter Your Email ID" formControlName="email"
                      [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched && submitted">
                    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched && submitted">
                      <small *ngIf="loginForm.get('email')?.errors" class="text-danger">Email is required</small>
                      <!-- <small class="text-danger" *ngIf="loginForm.get('email').errors.email">Email address is invalid</small> -->
                    </div>
                  </div>
                </div>
                <div class="single-row">
                  <label for="">Password :</label>
                  <div class="content-box" style="display:block">
                    <input type="password" class="form-control" placeholder="Enter  Password" name="password"
                      formControlName="password"
                      [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched && submitted">
                    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched && submitted">
                      <small *ngIf="loginForm.get('password')?.errors" class="text-danger">Password is required</small>
                    </div>
                  </div>
                </div>
                <div class="forgot-pass" style="padding-top: 10px;">
                  <a (click)="forgotClilck()" style="cursor: pointer; font-size: 15px;">Forgot Password!</a>
                </div>
                <div class="single-row">
                  <label for=""> </label>
                  <div class="content-box">
                    <button type="submit" class="btn btn-brand-blue mb-2">Log In</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
  </div>
</div>