<div class="container-fluid login">
  <div class="row">
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
    <div class="col-8  login-main">
      <div class="row ">
        <div class="col">
          <img src="../../assets/image/hero.png" alt="" class="hero-image">
        </div>
      </div>
      <div class="row register-content-row height-register-content">
        <div class="col register-content">
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <h3>Enter Your OTP</h3>
            </div>
            <div class="col"></div>
          </div>
          <div class="row" [formGroup]="otpForm">
            <div class="register-form">
              <div class="single-row">
                <label for="">OTP :</label>
                <div class="content-box">
                  <input type="number" class="form-control" maxlength="6" placeholder="Enter OTP" formControlName="otp">
                </div>
              </div>
              <div class="single-row error-data" *ngIf="issubmit">
                <label for=""></label>
                <div class="content-box">
                  <p>{{errmsg}}</p>
                </div>
              </div>
              <div *ngIf="!recentShow">
                <p style="color: #0A2647;
                text-align: end;
                padding: 10px;">
                  {{remainingTime}}
                </p>
              </div>

              <div class="resend-otp" *ngIf="recentShow">
                <a (click)="resendOTP()" style="cursor: pointer;">Resend OTP</a>
              </div>
              <div class="single-row">
                <label for=""> </label>

                <div class="content-box final-btn-wrap">
                  <button type="submit" class="btn btn-brand-blue mb-2 " (click)="verifyOtp()">Verify OTP</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
  </div>
</div>