<div class="container-fluid login">
  <div class="row">
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
    <div class="col-8  login-main">
      <div class="row ">
        <div class="col">
          <img src="../../assets/image/hero.png" alt="" class="hero-image">
        </div>
      </div>
      <div class="row register-content-row height-register-content">
        <div class="col register-content">
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <h3>Enter Your OTP</h3>
            </div>
            <div class="col"></div>
          </div>
          <div class="row" [formGroup]="otpForm">
            <div class="register-form">
              <div class="single-row">
                  <label for="">OTP :</label>
                  <div class="content-box">
                      <input type="number" class="form-control"  maxlength="6" placeholder="Enter OTP" formControlName="otp">
                  </div>
              </div>
              <div class="single-row error-data" *ngIf="issubmit && !otpForm.get('otp')?.valid">
                <label for=""></label>
                <div class="content-box">
                   <p>OTP is required!</p>
                </div>
            </div>
              <div class="resend-otp">
                <a href="#">Resend OTP</a>
              </div>
              <div class="single-row">
                  <label for=""> </label>

                  <div class="content-box final-btn-wrap">
                      <button type="submit" class="btn btn-brand-blue mb-2 " (click)="verifyOtp()">Verify OTP</button>
                  </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
  </div>
</div>
