.register-content-row{
    height: fit-content;
    padding-bottom: 20px;
}
.data{
    max-height: 500px;
    overflow: auto;
    width: 360px;
    max-width: 360px;
    list-style: none;
}
.subdata{
    max-height: 300px;
    overflow: auto;
    list-style: none;
    max-width: 500px;
    text-transform: capitalize;
}
.single-row button{
    background-color: white;
    /* padding: 6px 225px 6px 14px; */
    border: 1px solid #ced4da;
}
.dropdown-toggle::after{
    margin-left: 293px !important;
    display: none;
}
.fsize{
    font-size: 14px;
}
.badge1{
    /* border: 1px solid #ced4da; */
    font-weight: 600;
    color: #000;
  }

.remove{
    font-size: 14px;

}
.salarybtn{
    /* width: 360px; */
    max-width: 360px;
    padding: 5px 322px 8px 0px
}
.content-box-block{
    display: block !important;
}
.close-mark{
    color: #D9D9D9;
}
.locarea{
    background: white;
    /* position: absolute; */
    top: 747px;
    width: 360px;
    left: 614px;
    max-width: 362px;
    /* height: 265px; */
    max-height: 270px;
    overflow: auto;
    border-radius: 6px;
}
.name{
    /* width:120px;
    height: 2em;
    line-height: 1em;
    font-weight: 400; */
    text-overflow: ellipsis;
    margin-bottom: 9px;
    cursor: pointer;
    word-break: break-all;
    /* overflow:hidden; */
    white-space: nowrap;
}



.submit{
    display: flex;
    white-space: nowrap;
    align-items: center;
    padding: 0 15px !important;
}


.card-job-content-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
.job-card{
    color: #0A2647;
    font-weight: 400;
    margin: 0 5px;
    padding-left: 0 !important;
    padding-right: 0 !important;


}

.job-card i{
   color:#D9D9D9 ;
}

.border-remove{
    border:none;
}
.card-job-title{
    font-size: 26px;
    font-weight: 500;

}

.card-job-sub-title{
    font-size:16px;
}

.card-job-content{
    display: flex;
    justify-content: space-between;
    max-width: 40%;
    font-size: 14px;
}

.job-post-view-logo{
    width: 70px;
}

.width-custom{
    width: 25px;
    text-align: left;
}
.card-job-content-data div{
    margin-top: 5px;
}
.job-view{
    margin: 16px;
}
.single-rows{
    align-items: normal;
    justify-content: flex-start;
    font-size: 16px;
    margin-top:10px;
}

.single-rows label{
    min-width: 30%;
    font-weight: 500;
    color: #0A2647;
}

.call{
    width: 15px;
}
.content-boxs{
    font-weight: 400;
}
.arrow{
    font-size: 32px;
}

.no-margin{
    margin: 0;
}
.subject{
    background-color: #E7E9ED;
}
.register-content-rows{
    padding-top: 0 !important;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
}
h5{
    margin-bottom: 0 !important;
}

.subject-content p{
    margin-bottom: 8px;
}
.second-row{
    border-top: solid  rgba(0, 0, 0, 0.25) 1px ;
    border-bottom: solid  rgba(0, 0, 0, 0.25) 1px ;

}
.second-row p{
    margin-bottom: 8px;
}
.third-row{
    margin: 8px 16px !important;
}
.fourth-row{
    padding: 16px 0;
}
.single-rows .content-boxs button{
    padding: 8px 66px;
    font-weight: 500;
}
.reqloc{
    margin-right: 195px;
    font-weight: 500;
}
.NgxEditor{
    border:none !important;
}
.single-row sup{
    color: red;
}
.preferred{
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.preferred-option{

  width: 100%;
  background-color: white;
  min-height: 100px;
  max-height: 150px;
  overflow-y: scroll;
}
.preferred-option ul{
  list-style-type: none;
}
.preferred-selected{
  display: flex;

}
.preferred-selected span{
  font-size: 10px;
  background-color: lightblue;
  color: white;
  padding: 3px 7px;
  border-radius: 5px;
  display: flex;
  min-width: fit-content;

  align-items: center;
}
.preferred-selected span p{
  margin-bottom: 0;
  padding: 0 5px;
  min-width: fit-content;
  cursor: pointer;
}
.location-list{
  background-color: white;
  border: solid gray 1px;
}
.location-list p{
    border-bottom: solid gray 1px;
    cursor: pointer;
    margin-bottom: 0;
    padding: 5px;
}
.location-selected{
  display: flex;
  flex-wrap: wrap;
}
.location-selected span{
  font-size: 10px;
  background-color: lightblue;
  color: white;
  padding: 3px 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: fit-content;

}
.single-row{
    align-items: baseline !important;
}
.location-selected span p{
  margin-bottom: 0;
  padding: 0 5px;
  cursor: pointer;
}
.skills-list{
    width: 100%;
    display: flex;
    flex-direction: column !important;
    border: solid gray 1px;

}
.skills-list p{
    border-bottom: solid gray 1px;
cursor: pointer;
    margin-bottom: 0;
    padding: 5px;
}
.eduList{
  
    width: 100%;
    z-index: 9999999;
   border: solid gray 1px;
    background-color: white;
    max-height: 150px;
    overflow: auto;
}
.eduList ul{
    list-style: none;
    padding-left: 0;
}
.eduList ul li{
    border-bottom: solid gray 1px;
    margin-left: 5px;
    padding: 5px;

}
.selected-education{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
}
.selected-education p{
    font-size: 10px;
    padding: 5px 10px;
    background-color: lightblue;
    color: white;
    float: left;
    margin: 0 10px;
    max-width: fit-content !important;
}
.selected-education p span{
    margin-left: 10px;
    cursor: pointer;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.426);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.popup-container{
    min-width: 850px;
    max-width: 850px;
    max-height: 80vh;
    overflow: auto;
    position: relative;
    z-index: 1000000000000;
}
.dummy{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0.5;
}
.walkin{
    width: 98%;
    margin: auto;
    background-color: rgb(222, 222, 222);
    border-radius: 5px;
    padding: 5px 10px;
}
.walkin div{
    display: flex;
    align-items: center;
}
.walkin div label{
    width: 50%;
}
.register-content{
    background-color: white !important;
}
.popup-container.single-row{
    margin-top: 20px 0 !important;
}
.popup-container .custom-card{
    width: 98% !important;
    border-bottom: solid gray 1px;
}
.card-job-content{
    max-width: 100% !important;
    justify-content: unset !important;
}

.error{
    color: red;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
}
.comp-logo{
    width: 100px;
}
.comp-logo img{
    width: 100%;
}
