<div class="report-popup">

<div class="popup">

<div class="popup-container">
    <h1>Report</h1>
    <h3>UI UX Designer</h3>
    <h5>JP Morgan</h5>
    <div>
        <input type="radio">It's offensive or harassing
    </div>
    <div>
        <input type="radio">Asking for money or seems like a fake job
    </div>
    <div>
        <input type="radio">Incorrect company, location or job details
    </div>
    <div>
        <input type="radio">I think it's NOT a Job, but selling something
    </div>
    <div>
        <input type="radio">Others
    </div>
    <div>
       <textarea></textarea>
    </div>
    <div class="submit-btn">
    <button>Submit</button></div>
</div>


</div>

</div>