<div class="container-fluid register">
  <div class="row">
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
    <div class="col-8  login-main">
      <div class="row ">
        <div class="col">
          <img src="../../assets/image/hero.png" alt="" class="hero-image">
        </div>
      </div>
      <div class="row register-content-row height-auto">
        <div class="col register-content">
          <div class="row">
            <div class="col-2"></div>
            <div class="col">
              <h3>Find Your Dream Job Here</h3>
            </div>
            <div class="col-2"></div>
          </div>

          <div class="row">
            <div class="col"></div>
            <div class="col">
              <a href="#">
                <div class="sigin-button">
                  <img src="../../assets/image/g.png" alt="">
                  <div>Sign In With Google</div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div class="sigin-button">
                  <img src="../../assets/image/fb.png" alt="">
                  <div> Sign In With Facebook</div>
                </div>
              </a>
            </div>
            <div class="col"></div>
          </div>
          <div class="row or-line-wrap">
            <div class="col"></div>
            <div class="col">
              <h3 class="or-line">Or</h3>
            </div>
            <div class="col"></div>
          </div>
          <div class="row">
            <div class="col">
              <form [formGroup]="Candidateform" (submit)="submit()">
                <div class="register-form">
                  <div class="single-row">
                    <label for="">Full Name :</label>
                    <div class="content-box">
                      <input type="text" class="form-control" placeholder="Enter Your Full Name" formControlName="name">
                    </div>
                  </div>
                  <div class="single-row error-data" *ngIf="isSubmitted&&Candidateform.get('name')?.invalid">
                    <label for=""></label>
                    <div class="content-box">
                      <p>Full Name is required!</p>
                    </div>
                  </div>
                  <div class="single-row">
                    <label for="">Email ID:</label>
                    <div class="content-box">
                      <input type="email" class="form-control" placeholder="Enter Your Email ID"
                        formControlName="email">
                    </div>
                  </div>
                  <div class="single-row error-data" *ngIf="isSubmitted&&Candidateform.get('email')?.invalid">
                    <label for=""></label>
                    <div class="content-box">
                      <p>EmailID is required!</p>
                    </div>
                  </div>
                  <div class="single-row">
                    <label for="">Mobile Number :</label>
                    <div class="content-box">
                      <input type="number" maxlength="10" pattern="[6789][0-9]{9}" class="form-control"
                        placeholder="Enter Your Mobile Number" formControlName="mobileNumber">
                    </div>
                  </div>
                  <div class="single-row error-data" *ngIf="isSubmitted && Candidateform.get('mobileNumber')?.invalid">
                    <label for=""></label>
                    <div class="content-box">
                      <p>Mobile Number required!</p>
                    </div>
                  </div>
                  <div class="single-row">
                    <label for="">Work Status :</label>
                    <div class="content-box">
                      <select class="form-control select-type" formControlName="workStatus"
                        (change)="workChange($event)">
                        <option [value]="null" disabled selected>Select Type</option>
                        <option value="Experience">Experienced</option>
                        <option value="Fresher">Fresher</option>
                      </select>
                    </div>
                  </div>
                  <div class="single-row error-data" *ngIf="isSubmitted && Candidateform.get('workStatus')?.invalid">
                    <label for=""></label>
                    <div class="content-box">
                      <p>Work Status required!</p>
                    </div>
                  </div>

                  <div class="single-row" *ngIf="workExp == 'Experience'">
                    <label for="">Previous Company :</label>
                    <div class="content-box">
                      <input type="text" formControlName="prevCompany" class="form-control"
                        placeholder="Previous Company Name">
                    </div>
                  </div>

                  <div class="single-row error-data" *ngIf="isSubmitted && Candidateform.get('prevCompany')?.invalid">
                    <label for=""></label>
                    <div class="content-box">
                      <p>Previous Company Name required!</p>
                    </div>
                  </div>

                  <div class="single-row" *ngIf="workExp == 'Experience'  ">
                    <label for=""> Role In Previous Company :</label>
                    <div class="content-box">
                      <input type="text" formControlName="prevCompanyRole" class="form-control"
                        placeholder="Previous Company Role">
                    </div>
                  </div>
                  <div class="single-row error-data"
                    *ngIf="isSubmitted && Candidateform.get('prevCompanyRole')?.invalid">
                    <label for=""></label>
                    <div class="content-box">
                      <p>Previous Company Name required!</p>
                    </div>
                  </div>

                  <div class="single-row">
                    <label for="">Password :</label>
                    <div class="content-box">
                      <input type="password" formControlName="password" class="form-control"
                        placeholder="Enter Your Password">
                    </div>
                  </div>
                  <div class="single-row error-data" *ngIf="isSubmitted&&Candidateform.get('password')?.invalid">
                    <label for=""></label>
                    <div class="content-box">
                      <p>Password required!</p>
                    </div>
                  </div>
                  <div class="single-row">
                    <label for="">Confirm Password :</label>
                    <div class="content-box">
                      <input type="password" class="form-control" formControlName="confirmpassword"
                        placeholder="Confirm Your Password">
                    </div>
                  </div>
                  <div class="single-row error-data" *ngIf="isSubmitted&&Candidateform.get('confirmpassword')?.invalid">
                    <label for=""></label>
                    <div class="content-box">
                      <p>Confirm Password required!</p>
                    </div>
                  </div>
                  <div class="single-row">
                    <label for="">Resume :</label>
                    <div class="content-box choose-file-wrap">
                      <label for="select-logo" class="form-control choose-file">Choose File</label>
                      <div> <input type="file" formControlName="resume"
                          accept="application/pdf,.doc,.docx,application/msword" (change)="addresume($event)"
                          id="select-logo" class="form-control choose-file" placeholder="+Add Logo"
                          style="display: none;">
                      </div>
                      <div *ngIf="!file_name" class="resume-content-type">.docx, .doc, .pdf</div>
                      <div *ngIf="file_name" class="resume-content-type">{{file_name}}</div>
                    </div>
                  </div>
                  <div class="single-row error-data" *ngIf="isSubmitted&&Candidateform.get('resume')?.invalid">
                    <label for=""></label>
                    <div class="content-box">
                      <p>Resume required!</p>
                    </div>
                  </div>
                  <div class="single-row">
                    <label for="">Current Location :</label>
                    <div class="content-box">
                      <input type="text" class="form-control" ngx-google-places-autocomplete [options]="options"
                        (onAddressChange)="handleAddressChange($event)" placeholder="Enter Your Location"
                        formControlName="location">
                    </div>
                  </div>
                  <div class="single-row error-data" *ngIf="isSubmitted&&Candidateform.get('location')?.invalid">
                    <label for=""></label>
                    <div class="content-box">
                      <p>Current Location required!</p>
                    </div>
                  </div>

                  <div class="single-row error-data" *ngIf="serError != null  ">
                    <label for=""></label>
                    <div class="content-box">
                      <p>{{serError}}</p>
                    </div>
                  </div>
                  <div *ngIf="pswMismatch != null">
                    <p style="color: red; text-align: center; padding-left: 48px;">{{pswMismatch}}</p>
                  </div>
                  <div class="single-row single-row-final-btn">
                    <label for=""> </label>

                    <div class="content-box">
                      <button type="submit" class="btn btn-brand-blue register-btn">Register</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
  </div>