<div class="container-fluid login">
  <div class="row">
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
    <div class="col-8  login-main">
      <div class="row ">
        <div class="col">
          <img src="../../assets/image/hero.png" alt="" class="hero-image">
        </div>
      </div>
      <div class="row register-content-row height-register-content">
        <div class="col register-content">
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <h3>Check Your Mail</h3>
            </div>
            <div class="col"></div>
          </div>
          <div class="row">
            <div class="register-form">
              <div>
                <h4>
                  “ Thank You For Registering In Treatjobs “
                </h4>
                <h6>
                  “ Check Your Email For Verification “
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
  </div>
</div>
