.singlew-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
  margin-top: 10px;
}
.err p {
  text-align: center;
  padding-left: 41px;
  color: red;
}
