<div class="container-fluid login">
  <div class="row">
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
    <div class="col-8  login-main">
      <div class="row ">
        <div class="col">
          <img src="../../assets/image/hero.png" alt="" class="hero-image">
        </div>
      </div>
      <div class="row register-content-row height-register-content">
        <div class="col register-content">
          <div class="row">
            <div class="col-2"></div>
            <div class="col">
              <h3>Education Details</h3>
            </div>
            <div class="col-2">
              <button style="border: none;" (click)="addQualification()"><span class=" edit-icon"><i><svg width="14"
                      height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14 8.31765H8.4549V14H5.5451V8.31765H0V5.68235H5.5451V0H8.4549V5.68235H14V8.31765Z"
                        fill="white" />
                    </svg>

                  </i></span></button>
            </div>
          </div>
          <div class="row" [formGroup]="educationForm">
            <div>
              <div class="register-form" formArrayName="educationArray">
                <div *ngFor="let phase of Qualification.controls; let i = index;" [formGroupName]="i">
                  <div class="single-row">
                    <label for="">Qualification :</label>
                    <div class="content-box errorCondent1">
                      <select id="select" class="form-control" (change)="qualifiacation($event,i,phase)"
                        formControlName="Education">
                        <option [ngValue]="null" disabled selected>Select</option>
                        <option value="{{quli.qualification}}" [disabled]="dropdown_disable(phase)" *ngFor="let quli of qualification">{{quli.qualification}}
                        </option>
                      </select>
                      <div class="text-danger"
                        *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('Education').invalid">
                        <small>Qualification required{{i}}</small>
                      </div>
                    </div>
                  </div>
                  <!-- doctorate/Phd -->
                  <div class="phd-master-graduation" *ngIf="phase.get('Education')?.value=='Doctorate/phD'">
                    <div class="single-row">
                      <label for="">Course :</label>
                      <!-- <input type="text" class="form-control" placeholder="Enter Course" formControlName="pgCourse"> -->
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="drCourse"
                          (change)="specialization($event,phase)">
                          <option [ngValue]="null" disabled selected>Select</option>
                          <option value="{{course._id}}" *ngFor="let course of drCourse">{{course.Course}}</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('drCourse').invalid">
                          <small>Course required{{i}}</small>
                        </div>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">Specialization :</label>
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="drSpecialization">
                          <option [ngValue]="null" disabled selected>Select</option>
                          <option value="{{course._id}}" *ngFor="let course of drsep">
                            {{course.Specialization}}</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('drSpecialization').invalid">
                          <small>Specialization required</small>
                        </div>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">Course Type :</label>
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="drCourseType">
                          <option value="option1" disabled selected>Select</option>
                          <option value="Full Time">Full Time</option>
                          <option value="Part Time">Part Time</option>
                          <option value="Distance">Distance</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('drCourseType').invalid">
                          <small>Course Type required</small>
                        </div>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">Course Duration :</label>
                      <div class="content-box">
                        <select class="form-control select-type douple-input-first"
                          formControlName="drCourseDurationFrom">
                          <option value="option1" disabled selected>From</option>
                          <option value="2016">2016</option>
                          <option value="2017">2017</option>
                          <option value="2018">2018</option>
                          <option value="2019">2019</option>
                          <option value="2020">2020</option>
                          <option value="2021">2021</option>
                          <option value="2022">2022</option>
                          <option value="2023">2023</option>
                        </select>
                        <select class="form-control select-type douple-input-second"
                          formControlName="drCourseDurationTo">
                          <option value="option1" disabled selected>To</option>
                          <option value="2016">2016</option>
                          <option value="2017">2017</option>
                          <option value="2018">2018</option>
                          <option value="2019">2019</option>
                          <option value="2020">2020</option>
                          <option value="2021">2021</option>
                          <option value="2022">2022</option>
                          <option value="2023">2023</option>
                        </select>

                      </div>
                    </div>
                    <div class="single-row">
                      <label for=""></label>
                      <div class="content-box">
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('drCourseDurationFrom').invalid">
                          <small>Course Duration required</small>
                        </div>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('drCourseDurationTo').invalid">
                          <small>Course Duration required</small>
                        </div>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">University:</label>
                      <div class="content-box errorCondent1">
                        <input type="text" class="form-control" formControlName="drUniversity"
                          placeholder="Enter University">
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('drUniversity').invalid">
                          <small>University Duration required</small>
                        </div>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">Grading System :</label>
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="drGradingSystem">
                          <option value="option1" disabled selected>Select</option>
                          <option value="CGPA">CGPA</option>
                          <option value="Percentage">Percentage</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('drGradingSystem').invalid">
                          <small>Grading required</small>
                        </div>
                      </div>

                    </div>
                    <div class="single-row" *ngIf="phase.get('drGradingSystem')?.value">
                      <label for="">Grade :</label>
                      <div class="content-box errorCondent1" *ngIf="phase.get('drGradingSystem')?.value=='CGPA'">
                        <input type="number" class="form-control" formControlName="drMarks" placeholder="Enter Grade">
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('drMarks').invalid">
                          <small>Grade required</small>
                        </div>
                      </div>
                      <div class="input-group content-box" *ngIf="phase.get('drGradingSystem')?.value=='Percentage'">
                        <input type="number" class="form-control" id="validationDefaultUsername" placeholder="Enter Grade"
                          aria-describedby="inputGroupPrepend2" formControlName="drMarks" placeholder="Enter Grade">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend2">%</span>
                        </div>

                      </div>
                    </div>
                    <div class="single-row"  *ngIf="phase.get('drGradingSystem')?.value">
                      <label for=""></label>
                      <div class="text-danger"
                        *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('drMarks').invalid">
                        <small>Grade required</small>
                      </div>
                    </div>

                  </div>
                  <!-- master/post graduate -->
                  <div class="phd-master-graduation" *ngIf="phase.get('Education')?.value=='Masters/Post-Graduation'">
                    <div class="single-row">
                      <label for="">Course :</label>
                      <!-- <input type="text" class="form-control" placeholder="Enter Course" formControlName="pgCourse"> -->
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="pgCourse"
                          (change)="specialization($event,phase)">
                          <option [ngValue]="null" disabled selected>Select</option>
                          <option value="{{course._id}}" *ngFor="let course of pgCourse">{{course.Course}}</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('pgCourse').invalid">
                          <small>Course required</small>
                        </div>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">Specialization :</label>
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="pgSpecialization">
                          <option [ngValue]="null" disabled selected>Select</option>
                          <option value="{{course._id}}" *ngFor="let course of pgSpe">
                            {{course.Specialization}}</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('pgSpecialization').invalid">
                          <small>Specialization required</small>
                        </div>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">Course Type :</label>
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="pgCourseType">
                          <option value="option1" disabled selected>Select</option>
                          <option value="Full Time">Full Time</option>
                          <option value="Part Time">Part Time</option>
                          <option value="Distance">Distance</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('pgCourseType').invalid">
                          <small>Specialization required</small>
                        </div>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">Course Duration :</label>
                      <div class="content-box ">
                        <select class="form-control select-type douple-input-first"
                          formControlName="pgCourseDurationFrom">
                          <option value="option1" disabled selected>From</option>
                          <option value="2016">2016</option>
                          <option value="2017">2017</option>
                          <option value="2018">2018</option>
                          <option value="2019">2019</option>
                          <option value="2020">2020</option>
                          <option value="2021">2021</option>
                          <option value="2022">2022</option>
                          <option value="2023">2023</option>
                        </select>
                        <select class="form-control select-type douple-input-second"
                          formControlName="pgCourseDurationTo">
                          <option value="option1" disabled selected>To</option>
                          <option value="2016">2016</option>
                          <option value="2017">2017</option>
                          <option value="2018">2018</option>
                          <option value="2019">2019</option>
                          <option value="2020">2020</option>
                          <option value="2021">2021</option>
                          <option value="2022">2022</option>
                          <option value="2023">2023</option>
                        </select>

                      </div>
                    </div>
                    <div class="single-row">
                      <label for=""></label>
                      <div class="content-box">
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('pgCourseDurationFrom').invalid">
                          <small>Duration required</small>
                        </div>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('pgCourseDurationTo').invalid">
                          <small>Duration required</small>
                        </div>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">University:</label>
                      <div class="content-box errorCondent1">
                        <input type="text" class="form-control" formControlName="pgUniversity"
                          placeholder="Enter Marks">
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('pgUniversity').invalid">
                          <small>University required</small>
                        </div>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">Grading System :</label>
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="pgGradingSystem">
                          <option value="option1" disabled selected>Select</option>
                          <option value="CGPA">CGPA</option>
                          <option value="Percentage">Percentage</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('pgGradingSystem').invalid">
                          <small>University required</small>
                        </div>
                      </div>

                    </div>
                    <div class="single-row" *ngIf="phase.get('pgGradingSystem')?.value">
                      <label for="">Grade :</label>
                      <div class="content-box" *ngIf="phase.get('pgGradingSystem')?.value!='Percentage'">
                        <input type="number" class="form-control" formControlName="pgMarks" placeholder="Enter Marks">
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('pgMarks').invalid">
                          <small>University required</small>
                        </div>
                      </div>
                      <div class="input-group content-box" *ngIf="phase.get('pgGradingSystem')?.value=='Percentage'">
                        <input type="number" class="form-control" id="validationDefaultUsername" placeholder="Enter Grade"
                          aria-describedby="inputGroupPrepend2" formControlName="pgMarks" placeholder="Enter Grade">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend2">%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ug/Diplomo -->
                  <div class="phd-master-graduation" *ngIf="phase.get('Education')?.value=='Graduation/Diploma'">
                    <div class="single-row">
                      <label for="">Course :</label>
                      <!-- <input type="text" class="form-control" placeholder="Enter Course" formControlName="pgCourse"> -->
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="ugCourse"
                          (change)="specialization($event,phase)">
                          <option [ngValue]="null" disabled selected>Select</option>
                          <option value="{{course._id}}" *ngFor="let course of ugcourse">{{course.Course}}</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('ugCourse').invalid">
                          <small>Course required</small>
                        </div>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">Specialization :</label>
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="ugSpecialization">
                          <option [ngValue]="null" disabled selected>Select</option>
                          <option value="{{course._id}}" *ngFor="let course of ugSpe">
                            {{course.Specialization}}</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('ugSpecialization').invalid">
                          <small>Specialization required</small>
                        </div>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">Course Type :</label>
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="ugCourseType">
                          <option value="option1" disabled selected>Select</option>
                          <option value="Full Time">Full Time</option>
                          <option value="Part Time">Part Time</option>
                          <option value="Distance">Distance</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('ugCourseType').invalid">
                          <small>Specialization required</small>
                        </div>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">Course Duration :</label>
                      <div class="content-box">
                        <select class="form-control select-type douple-input-first"
                          formControlName="ugCourseDurationFrom">
                          <option value="option1" disabled selected> From</option>
                          <option value="2016">2016</option>
                          <option value="2017">2017</option>
                          <option value="2018">2018</option>
                          <option value="2019">2019</option>
                          <option value="2020">2020</option>
                          <option value="2021">2021</option>
                          <option value="2022">2022</option>
                          <option value="2023">2023</option>
                        </select>
                        <select class="form-control select-type douple-input-second"
                          formControlName="ugCourseDurationTo">
                          <option value="option1" disabled selected>To</option>
                          <option value="2016">2016</option>
                          <option value="2017">2017</option>
                          <option value="2018">2018</option>
                          <option value="2019">2019</option>
                          <option value="2020">2020</option>
                          <option value="2021">2021</option>
                          <option value="2022">2022</option>
                          <option value="2023">2023</option>
                        </select>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for=""></label>
                      <div class="content-box ">
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('ugCourseDurationFrom').invalid">
                          <small>Duration required</small>
                        </div>
                        <div class="text-danger" style="margin-left: 65px;"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('ugCourseDurationTo').invalid">
                          <small>Duration required</small>
                        </div>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">University:</label>
                      <div class="content-box errorCondent1">
                        <input type="text" class="form-control" formControlName="ugUniversity"
                          placeholder="Enter University">
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('ugUniversity').invalid">
                          <small>University required</small>
                        </div>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">Grading System :</label>
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="ugGradingSystem">
                          <option value="option1" disabled selected>Select</option>
                          <option value="CGPA">CGPA</option>
                          <option value="Percentage">Percentage</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('ugGradingSystem').invalid">
                          <small>Grading System required</small>
                        </div>
                      </div>

                    </div>
                    <div class="single-row" *ngIf="phase.get('ugGradingSystem')?.value">
                      <label for="">Grade:</label>
                      <div class="content-box" *ngIf="phase.get('ugGradingSystem')?.value !='Percentage'">
                        <input type="number" class="form-control" formControlName="ugMarks" placeholder="Enter Grade">
                      </div>
                      <div class="input-group content-box" *ngIf="phase.get('ugGradingSystem')?.value=='Percentage'">
                        <input type="number" class="form-control" id="validationDefaultUsername" placeholder="Enter Grade"
                          aria-describedby="inputGroupPrepend2" formControlName="ugMarks" placeholder="Enter Grade">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupPrepend2">%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="single-row" *ngIf="phase.get('ugGradingSystem')?.value">
                    <label for=""></label>
                    <div class="text-danger"
                      *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('ugMarks').invalid">
                      <small>Grade required</small>
                    </div>
                  </div>

                  <!-- HSC -->
                  <div class="hsc-sslsc" *ngIf="phase.get('Education')?.value=='HSC'">
                    <div class="single-row">
                      <label for="">Board :</label>
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="hsBoard">
                          <option [ngValue]="null" disabled selected>Select</option>
                          <option *ngFor="let board of hscCourse" value="{{board.Board}}">{{board.Board}}</option>
                          <option value="2017">2017</option>
                        </select>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">Passed Out Year :</label>
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="hsPassedYear">
                          <option value="option1" disabled selected>Select</option>
                          <option value="2016">2016</option>
                          <option value="2017">2017</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('hsPassedYear').invalid">
                          <small>Passed Out Year required</small>
                        </div>
                      </div>

                    </div>
                    <div class="single-row">
                      <label for="">School Medium:</label>
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="hsMedium">
                          <option [ngValue]="null" disabled selected>Select</option>
                          <option *ngFor="let languages of lang" value="{{languages.School_Medium}}">{{languages.School_Medium}}</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('hsMedium').invalid">
                          <small>Passed Out Year required</small>
                        </div>
                      </div>
                    </div>

                    <div class="single-row">
                      <label for="">Grade :</label>
                      <div class="content-box errorCondent1">
                        <input type="number" class="form-control" placeholder="Enter Grade"
                          formControlName="hstotalmarks">
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('hstotalmarks').invalid">
                          <small>Grade required</small>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- sslc -->
                  <div class="hsc-sslsc" *ngIf="phase.get('Education')?.value=='SSLC'">
                    <div class="single-row">
                      <label for="">Board :</label>
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="sslcBoard">
                          <option [ngValue]="null" disabled selected>Select</option>
                          <option *ngFor="let board of sslcspe" value="{{board.Board}}">{{board.Board}}</option>
                        </select>

                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">Passed Out Year :</label>
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="sslcPassedYear">
                          <option value="option1" disabled selected>Select</option>
                          <option value="2016">2016</option>
                          <option value="2017">2017</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('sslcPassedYear').invalid">
                          <small>Board required</small>
                        </div>
                      </div>

                    </div>
                    <div class="single-row">
                      <label for="">School Medium:</label>
                      <div class="content-box errorCondent1">
                        <select class="form-control select-type" formControlName="sslcMedium">
                          <option [ngValue]="null" disabled selected>Select</option>
                          <option *ngFor="let languages of lang" value="{{languages.School_Medium}}">{{languages.School_Medium}}</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('sslcMedium').invalid">
                          <small>Board required</small>
                        </div>
                      </div>
                    </div>
                    <div class="single-row">
                      <label for="">Grade :</label>
                      <div class="content-box errorCondent1">
                        <input type="number" class="form-control" placeholder="Enter Grade"
                          formControlName="sslctotalmarks">
                        <div class="text-danger"
                          *ngIf="isSubmitted&&this.educationForm.get('educationArray').controls[i].get('sslctotalmarks').invalid">
                          <small>Grade required</small>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="single-row  mt-5">
                  <label for=""> </label>

                  <div class="content-box">
                    <button type="submit" class="btn btn-brand-blue mb-2" (click)="submit()">submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 ad-image">
      <img src="../../assets/image/ad.png" alt="">
    </div>
  </div>
</div>
